# NOTE: enclose values in single quotes (see example)
#
# This is currently using CFG (pip install config) and adding
# your own environment variables to these settings
# requires some odd syntax.
#
# This will be addressed before release. For now, if you aren't
# familiar with the module, stick to string values.

# Default: $XDG_DATA_HOME/bak/bakfiles
bakfile_location: null
# Default: $XDG_DATA_HOME/bak/bak.db
bak_database_location: null

# Example:
# bak_open_exec: 'less'
# (you'll need those single quotes for anything other than null)

# bak_open_exec defaults to $PAGER
bak_open_exec: null
# bak_diff_exec defaults to system diff
# Format new settings as per: 'diff %old %new'
bak_diff_exec: 'diff %old %new'

bak_list_relative_paths: False
bak_list_colors: True
